input{
    padding: 10px;
    outline:none;
    border: none;
    background: rgba(198, 197, 197, 0.549);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    color: #3b3b3b;
    font-weight: bold
}

input[type="submit"]{
    background: rgb(124, 172, 128);
    color: #3b3b3b;
    margin: 4px;
    opacity: .8;
}

input[type="submit"]:hover{
    opacity: 1;
    color:#f0ffff;
}

