.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(197, 197, 197);
    border-radius:4px;
    overflow: hidden;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    margin: 2px;
    width: min-content;
    
}

.card img{
    width: 150px;
}

.card p {
    /* max-width: 200px;
   
    
    margin: 0; */
    padding: 0;
    margin: 0;
    text-align: center;
    background:rgba(188, 126, 126, 0.481);
}